[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
validators = "*"
beautifulsoup4 = "*"
urllib3 = "*"
python-dotenv = "*"
flask-cors = "*"
gunicorn = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
